/*************
GENERAL
**************/
body {
  font-size: 14px;
  color: #333;
  font-family: 'Noto Sans', sans-serif;
}

/*************
HEADER
**************/
.header {
  background-color: orange;
  height: 90px;
  position: relative;
}

.header div {
  width: 78%;
  margin: 0 auto;
}

.header .header-button {
  margin: 27px 2px 23px 10px;
  height: 30px;
}

.header .search {
  min-width: 20px;
  padding: 2px;
}

.inputBox {
  margin: 25px auto;
  display: inline-block;
  width: 50%;
  height: 40px;
  border-radius: 5px;
}

.header a {
  height: 55px;
}

#logo {
  height: 55px;
  display: inline-block;
  position: absolute;
  top: 18px;
}

/*************
Main Content
**************/
.main {
  margin: auto;
}

.portfolio {
  border-top: 1px solid orange;
  height: 150px;
  border-collapse: collapse;

}

.truck-image {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 4px;
  margin: 20px 0;
}

.truck-image.large{
  width: 220px;
  height: 220px;
}

.truck-info {
  margin: 0 20px;
}

.warning {
  font-size: 1.6em;
  text-align: center;
  padding-top: 40px;
}

.warning img {
  width: 100px;
}

/*************
Truck Page
**************/
.details {
  border-top: 1px solid orange;
  padding: 10px 0;
}

.info {
  min-height: 270px;
}

.main > p {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
}

.label {
  width: 10%;
}

/*************
Rating System
**************/

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}






/*[truck]*/
/*** trucks--> trucks.controller--> menu header ***/
.menu {
  font-size: 2rem;
  display: flex;;
  flex-flow: row wrap;
  background-color: rgba(163, 160, 160, 0.45);

  margin: 1%;
}

.main-header {
  flex: none;
  padding: .5%;
  background-color: #00ced1;
  color: white;
  text-align: center;
  margin: .5%;
}

.main-header one {
  margin-right: auto;

}


.good {
  line-height: 30px;
  padding-left: 10px;
  margin: 10px;
    box-sizing:border-box;
    background-color: rgba(0, 128, 0, 0.31);
}



.cover{
  background-color: #EBEBEB;

  .fullname{
    margin-bottom: 3px;
    margin-top: 0px;
  }
  .username{
    margin-bottom:5px;
  }
}

message md-chips{
  margin: auto;
  .md-chips{
    box-shadow: none;
  }
}

message div.md-list-item-text.compact{
  padding-top: 0px;
  padding-bottom: 0px;
}

.md-list-item-text.compact .message-content{
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  padding: 10px;
  margin: 0px;
  position: relative;
}

message {
  margin-bottom: 10px;
}
message:not(.repeated-author) .message-content:before{
  left: -8px;
  border-width: 0 8px 8px 0 !important;
  border-right-color: inherit;
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-bottom-color: transparent;
}

message:not(.repeated-author) md-list-item{
  margin-top: 20px;
}
.repeated-author{
  img.message-avatar {
    opacity: 0;
    height: 0;
  }
}

.repeated-author p, .repeated-author small {
  display: none;
}

message .md-avatar.message-avatar{
  margin-bottom: 0px;
}

message md-list-item.contact-item{
  min-height: 0;
}




.login-frame img, .registration-frame img {
  width: 30%;
  margin: auto;
}

.login-frame md-card, .registration-frame md-card {
  max-width: 400px;
  margin: auto;
}

.full-height {
  height: 100%;
  box-sizing: border-box;
}
