<div>
<md-toolbar layout="row" class="md-whiteframe-z3" style="padding:0px;margin:0px;">
 <h2 style="padding-left:10px">Food Truck Finder</h2>
 <a style="padding-left:500px;color:#fff; padding-top:20px"  ng-click = "logout()"> LOG OUT </a>
 </md-toolbar>
</div>

<div id="profile">
	<p>
		<span class="property">Name:</span>
		<span class="value">{{user.name}}</span>
	</p>
	<p>
		<span class="property">Photo:</span>
		<span class="value"><img src="{{user.image}}"></span>
	</p>
	<p>
		<span class="property">Cuisine Type:</span>
		<span class="value">{{user.cuisine}}</span>
	</p>
	<p>
		<span class="property">Hours:</span>
		<span class="value">
			<ul>
				<li ng-repeat="location in user.locations">
					<p>Address: {{location.address}}</p>
					<p>Hours:</p>
					<p ng-if="location.hours['1'][0] != null">Mon: {{location.hours["1"][0]}} - {{location.hours["1"][1]}}</p>
					<p ng-if="location.hours['2'][0] != null">Tue: {{location.hours["2"][0]}} - {{location.hours["2"][1]}}</p>
					<p ng-if="location.hours['3'][0] != null">Wed: {{location.hours["3"][0]}} - {{location.hours["3"][1]}}</p>
					<p ng-if="location.hours['4'][0] != null">Thu: {{location.hours["4"][0]}} - {{location.hours["4"][1]}}</p>
					<p ng-if="location.hours['5'][0] != null">Fri: {{location.hours["5"][0]}} - {{location.hours["5"][1]}}</p>
					<p ng-if="location.hours['6'][0] != null">Sat: {{location.hours["6"][0]}} - {{location.hours["6"][1]}}</p>
					<p ng-if="location.hours['0'][0] != null">Sun: {{location.hours["0"][0]}} - {{location.hours["0"][1]}}</p>
				</li>
			</ul>
		</span>
	</p>
<button ng-click="logout()">Log Out</button>